@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }

body {
    --hue: var(--hue-neutral); 
    background-color: #CECECE;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body.correct {
    --hue: var(--hue-correct);
}
  
  
body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width:800px;
    max-width: 80%;
    background-color: #A6A6A8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 1opx 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin: 20px 0;
}

.btn {
    
    background-color: white;
    border:3px solid;
    border-color: white;
    border-radius: 6px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover{
    border-color: #EF476F;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
  
.btn.wrong {
    --hue: var(--hue-wrong);
}

#start-btn, #next-btn{
    font-size:1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display:none;
}